Repository cfe-lab/hla_algorithm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-yaml, Code-Check, Check-HLA-Modified-Dates

.gitlab-ci.yml:

---
variables:
  JUNIT_TEST_REPORT: test_report_${CI_COMMIT_SHORT_SHA}.html
  COVERAGE_TEST_REPORT: coverage_report_${CI_COMMIT_SHORT_SHA}
  PYTHON_VERSION:
    value: "3.10"
    options:
      - "3.10"
      - "3.11"
      - "3.12"
    description: Python version to use

stages:
  - validate
  - test
  - build

validate-yaml:
  stage: validate
  image: alpine
  script:
    - apk add yamllint
    - cd $CI_PROJECT_DIR
    - yamllint .
  rules:
    - changes:
        - "*.yml"
        - "*.yaml"

.python:
  image:
    name: python:${PYTHON_VERSION}-slim
    pull_policy: if-not-present
  before_script:
    - pip install uv
  allow_failure: false

Code-Check:
  extends: .python
  stage: validate
  script:
    - cd $CI_PROJECT_DIR
    - uv run mypy --check .
    - uv run ruff check .
  rules:
    - if: $CI_JOB_MANUAL
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - src/**/*.py
        - tools/*.py

Check-HLA-Modified-Dates:
  stage: validate
  extends: .python
  variables:
    PYTHONPATH: "${CI_BUILDS_DIR}/src"
  script:
    - apt update
    - apt install git-restore-mtime -y --no-install-recommends
    - cd $CI_PROJECT_DIR
    - uv run tools/check_date_modified.py check-dates
  rules:
    - if: $CI_JOB_MANUAL
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - src/**/*.csv
        - src/**/*.mtime

Unit-Tests:
  extends: .python
  stage: test
  script:
    - cd $CI_PROJECT_DIR
    - uv run pytest
      -vra
      --html=${JUNIT_TEST_REPORT}
      --self-contained-html
      --cov-report=html:${COVERAGE_TEST_REPORT}
      --cov-report=term
      --junitxml=pytest.xml
  parallel:
    matrix:
      - PYTHON_VERSION:
          - "3.10"
          - "3.11"
          - "3.12"
  coverage: '/^TOTAL.+?(\d+\%)$/'
  interruptible: true
  artifacts:
    reports:
      junit: pytest.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - ${COVERAGE_TEST_REPORT}/*
      - ${JUNIT_TEST_REPORT}

Updated the hla_frequencies.csv file to the new format (changing "unknown" to "unmapped").
  src/easyhla/default_data/hla_frequencies.csv
Due: Check-HLA-Modified-Dates

Cleaned up some unused imports and cleaned up the clinical HLA script's reporting of mismatches when there aren't any.
  src/easyhla/clinical_hla_lib.py
  src/easyhla/interpret_from_json.py
  tests/clinical_hla_lib_test.py
Due: Code-Check

Some changes to allow a sensible sorting of allele pairs.
  src/easyhla/models.py
  src/easyhla/utils.py
  tests/models_test.py
  tests/utils_test.py
Due: Code-Check

WIP: some starting rumblings of a Django app to replace the current bblab tool.
  src/django_app/hla_typing/__init__.py
  src/django_app/hla_typing/admin.py
  src/django_app/hla_typing/apps.py
  src/django_app/hla_typing/migrations/__init__.py
  src/django_app/hla_typing/models.py
  src/django_app/hla_typing/tests.py
  src/django_app/hla_typing/views.py
  src/django_app/hla_typing_site/__init__.py
  src/django_app/hla_typing_site/asgi.py
  src/django_app/hla_typing_site/settings.py
  src/django_app/hla_typing_site/urls.py
  src/django_app/hla_typing_site/wsgi.py
  src/django_app/manage.py
Due: Code-Check

A number of minor fixes.
  src/easyhla/bblab_lib.py
  src/easyhla/hla_algorithm.rb
  src/easyhla/interpret_from_json_lib.py
  tests/bblab_lib_test.py
  tests/clinical_hla_lib_test.py
  tests/interpret_from_json_lib_test.py
Due: Code-Check

WIP: some fleshing out of the Django models.
  src/django_app/hla_typing/models.py
Due: Code-Check

Changed combined_standards_helper into a generator; added tests.
  src/easyhla/easyhla.py
  tests/easyhla_test.py
Due: Code-Check

Removed the Django app framework (it's been moved to a different project).
  src/django_app/hla_typing/__init__.py
  src/django_app/hla_typing/admin.py
  src/django_app/hla_typing/apps.py
  src/django_app/hla_typing/migrations/__init__.py
  src/django_app/hla_typing/models.py
  src/django_app/hla_typing/tests.py
  src/django_app/hla_typing/views.py
  src/django_app/hla_typing_site/__init__.py
  src/django_app/hla_typing_site/asgi.py
  src/django_app/hla_typing_site/settings.py
  src/django_app/hla_typing_site/urls.py
  src/django_app/hla_typing_site/wsgi.py
  src/django_app/manage.py
Due: Code-Check

Some minor changes to pyproject.toml.
  pyproject.toml
Due: none

Further tweaks to the configuration.
  .github/workflows/test.yml
  pyproject.toml
Due: none

Made the pipeline more lax about linting.
  .github/workflows/test.yml
Due: none

WIP: fixing a lot of mypy errors.
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  .yamllint.yml
  pyproject.toml
  src/easyhla/bblab.py
  src/easyhla/clinical_hla.py
  src/easyhla/clinical_hla_lib.py
  src/easyhla/interpret_from_json.py
  src/easyhla/models.py
  src/easyhla/update_frequency_file.py
  src/easyhla/update_frequency_file_lib.py
  tests/clinical_hla_lib_test.py
  tests/conftest.py
  tests/update_frequency_file_lib_test.py
Due: validate-yaml, Code-Check

Cleaned up all mypy errors.
  pyproject.toml
  src/easyhla/bblab.py
  src/easyhla/bblab_lib.py
  src/easyhla/clinical_hla_lib.py
  src/easyhla/easyhla.py
  src/easyhla/interpret_from_json_lib.py
  src/easyhla/update_alleles.py
  src/easyhla/utils.py
  tests/bblab_lib_test.py
  tests/easyhla_test.py
  tests/models_test.py
  tests/utils_test.py
  uv.lock
Due: Code-Check

All ruff errors fixed also.
  tests/utils_test.py
Due: none

Changes to attempt to fix the Python 3.10 pipeline.
  src/easyhla/models.py
  src/easyhla/update_frequency_file_lib.py
  src/easyhla/utils.py
Due: Code-Check

Continuing to get my ducks in a row for packaging.
  pyproject.toml
  src/easyhla/__about__.py
  tests/conftest.py
  uv.lock
Due: Code-Check

Forgot to update the import "path" to the version information.
  src/easyhla/interpret_from_json_lib.py
Due: Code-Check

Some bookkeeping while we turn this into a proper package.
  .devcontainer/.gitignore
  src/easyhla/.gitignore
Due: none

Realized I don't need this .gitignore file.
  .devcontainer/.gitignore
Due: none

Removed the clinical HLA driver from the project and did some cleanup.
  .devcontainer/devcontainer.json
  .devcontainer/install_instant_client.bash
  pyproject.toml
  src/easyhla/clinical_hla.py
  src/easyhla/clinical_hla_lib.py
  tests/bblab_lib_test.py
  tests/clinical_hla_lib_test.py
  tests/interpret_from_json_lib_test.py
  uv.lock
  vendor/.gitignore
  vendor/README.md
Due: Code-Check

Moved the Ruby wrapper into its own directory and wrote a simple gemspec.
  ruby/.gitignore
  ruby/hla_algorithm.gemspec
  ruby/lib/hla_algorithm.rb
Due: none

Hammered out a minor issue with the Ruby wrapper (and the corresponding Python driver).
  ruby/lib/hla_algorithm.rb
  src/easyhla/interpret_from_json_lib.py
  tests/interpret_from_json_lib_test.py
Due: Code-Check

Replaced the action-junit-report action with test-results-action.
  .github/workflows/test.yml
  README.md
Due: none

Removed the bblab code (it now lives in the bblab_hla_typing_tool repo).
  pyproject.toml
  src/hla_algorithm/bblab.py
  src/hla_algorithm/bblab_lib.py
  tests/__init__.py
  tests/bblab_lib_test.py
Due: Code-Check

Added "alleles version" information to the output of interpret_from_json.py.
  src/hla_algorithm/interpret_from_json.py
  src/hla_algorithm/interpret_from_json_lib.py
  tests/interpret_from_json_lib_test.py
Due: Code-Check

HLAResult now contains the "alleles version" and information about all possible matches.
  ruby/lib/hla_algorithm.rb
  src/hla_algorithm/hla_algorithm.py
  src/hla_algorithm/interpret_from_json_lib.py
  src/hla_algorithm/models.py
  tests/hla_algorithm_test.py
  tests/interpret_from_json_lib_test.py
  tests/models_test.py
Due: Code-Check

Hammered out some details on the Ruby wrapper.
  .github/workflows/build_and_publish_gem.yml
  ruby/lib/hla_algorithm.rb
  src/hla_algorithm/interpret_from_json.py
  src/hla_algorithm/interpret_from_json_lib.py
Due: Code-Check

Fixed some tests broken by the last commit.
  tests/interpret_from_json_lib_test.py
Due: none

Some work on fixing the tests under older Python versions.
  pyproject.toml
  src/hla_algorithm/hla_algorithm.py
  tests/hla_algorithm_test.py
  uv.lock
Due: Code-Check

Tweaking the "build_and_publish_gem" action.
  .github/workflows/build_and_publish_gem.yml
Due: none

Tidied up some yaml.
  .github/workflows/build_and_publish_gem.yml
Due: none

Cleaned up some mypy/ruff complaints.
  tests/hla_algorithm_test.py
  tests/interpret_from_json_lib_test.py
Due: none

Closes #9.
  src/hla_algorithm/hla_algorithm.py
  src/hla_algorithm/interpret_from_json_lib.py
  src/hla_algorithm/models.py
  src/hla_algorithm/utils.py
  tests/hla_algorithm_test.py
  tests/models_test.py
  tests/utils_test.py
Due: Code-Check

Minor change to the docstring for AllelePairs.is_homozygous.
  src/hla_algorithm/models.py
Due: Code-Check

WIP: implemented a new algorithm to get the "clean alleles" string.
  src/hla_algorithm/models.py
  tests/models_test.py
Due: Code-Check

Fixed failing tests, but coverage has dipped and we need to test the new functionality still.
  src/hla_algorithm/models.py
Due: Code-Check

Some refactoring of code and adding a few tests (incomplete).
  src/hla_algorithm/models.py
  tests/models_test.py
Due: Code-Check

Closes #11.
  src/hla_algorithm/models.py
  tests/models_test.py
Due: Code-Check

Fixed a mis-identified precondition that doesn't always hold.
  src/hla_algorithm/models.py
  tests/models_test.py
Due: Code-Check
