Repository cfe-lab/hla_algorithm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-yaml, Code-Check, Check-HLA-Modified-Dates

.gitlab-ci.yml:

---
variables:
  JUNIT_TEST_REPORT: test_report_${CI_COMMIT_SHORT_SHA}.html
  COVERAGE_TEST_REPORT: coverage_report_${CI_COMMIT_SHORT_SHA}
  PYTHON_VERSION:
    value: "3.10"
    options:
      - "3.10"
      - "3.11"
      - "3.12"
    description: Python version to use

stages:
  - validate
  - test
  - build

validate-yaml:
  stage: validate
  image: alpine
  script:
    - apk add yamllint
    - cd $CI_PROJECT_DIR
    - yamllint .
  rules:
    - changes:
        - "*.yml"
        - "*.yaml"

.python:
  image:
    name: python:${PYTHON_VERSION}-slim
    pull_policy: if-not-present
  before_script:
    - pip install uv
  allow_failure: false

Code-Check:
  extends: .python
  stage: validate
  script:
    - cd $CI_PROJECT_DIR
    - uv run mypy --check .
    - uv run ruff check .
  rules:
    - if: $CI_JOB_MANUAL
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - src/**/*.py
        - tools/*.py

Check-HLA-Modified-Dates:
  stage: validate
  extends: .python
  variables:
    PYTHONPATH: "${CI_BUILDS_DIR}/src"
  script:
    - apt update
    - apt install git-restore-mtime -y --no-install-recommends
    - cd $CI_PROJECT_DIR
    - uv run tools/check_date_modified.py check-dates
  rules:
    - if: $CI_JOB_MANUAL
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - src/**/*.csv
        - src/**/*.mtime

Unit-Tests:
  extends: .python
  stage: test
  script:
    - cd $CI_PROJECT_DIR
    - uv run pytest
      -vra
      --html=${JUNIT_TEST_REPORT}
      --self-contained-html
      --cov-report=html:${COVERAGE_TEST_REPORT}
      --cov-report=term
      --junitxml=pytest.xml
  parallel:
    matrix:
      - PYTHON_VERSION:
          - "3.10"
          - "3.11"
          - "3.12"
  coverage: '/^TOTAL.+?(\d+\%)$/'
  interruptible: true
  artifacts:
    reports:
      junit: pytest.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - ${COVERAGE_TEST_REPORT}/*
      - ${JUNIT_TEST_REPORT}

Fixed up a docstring's formatting.
  src/hla_algorithm/models.py
Due: Code-Check

Converted the old BBLab alleles to the new format.
  src/hla_algorithm/default_data/bblab_config/bblab_hla_standards.yaml
  src/scripts/reformat_bblab_alleles.py
Due: Code-Check

Some final tweaks before creating a v1.0.0 release.
  .gitignore
  README.md
  pyproject.toml
  src/hla_algorithm/.DS_Store
  src/hla_algorithm/reformat_old_alleles.py
  tests/hla_algorithm_test.py
Due: Code-Check

Tweaked our yamllint config.
  .yamllint.yml
Due: validate-yaml

Incorporated David's suggestion that allows us to eliminate the shim for os.path.join.
  src/hla_algorithm/hla_algorithm.py
  tests/hla_algorithm_test.py
Due: Code-Check

Closes #18.
  src/hla_algorithm/hla_algorithm.py
  src/hla_algorithm/models.py
  tests/hla_algorithm_test.py
  tests/models_test.py
Due: Code-Check

Closes #17.
  src/hla_algorithm/hla_algorithm.py
  tests/hla_algorithm_test.py
Due: Code-Check

Formally restrict the package to require Python 3.11, 3.12, or 3.13.
  .github/workflows/test.yml
  pyproject.toml
Due: none

Update the default alleles to v3.62.0-alpha.
  src/hla_algorithm/default_data/hla_nuc_v3.60.0-alpha.fasta.checksum.txt
  src/hla_algorithm/default_data/hla_nuc_v3.62.0-alpha.fasta.checksum.txt
  src/hla_algorithm/default_data/hla_standards.yaml
Due: none

Closes #22. Added a test that the memory usage doesn't balloon.
  .devcontainer/devcontainer.json
  .github/workflows/acceptable_memory_usage_test.yml
  pyproject.toml
  src/hla_algorithm/hla_algorithm.py
  src/scripts/measure_resources.py
  tests/acceptable_memory_usage_test.py
  uv.lock
Due: Code-Check

Fixed some syntax in the acceptable memory usage test workflow (hopefully).
  .github/workflows/acceptable_memory_usage_test.yml
Due: none

Update src/scripts/measure_resources.py
  src/scripts/measure_resources.py
Due: Code-Check

Incorporated more suggestions from review.
  src/scripts/measure_resources.py
Due: Code-Check

Fixed a couple of linting errors.
  tests/acceptable_memory_usage_test.py
Due: none

Trying to clear up some of the warnings in CI about Node.js 20 actions being deprecated.
  .github/workflows/test.yml
Due: none

Fixed a couple other potential linting errors, and refactored the test to be a little easier to read.
  .github/workflows/acceptable_memory_usage_test.yml
  .github/workflows/build_and_publish_gem.yml
  tests/acceptable_memory_usage_test.py
Due: none

An attempt to restrict the slow tests to only running when there's new code that day.
  .github/workflows/acceptable_memory_usage_test.yml
Due: none

Fixed some more linting problems.
  .github/workflows/acceptable_memory_usage_test.yml
Due: none

Allowed Paths to be used as inputs to HLAAlgorithm.use_config.
  src/hla_algorithm/hla_algorithm.py
  src/hla_algorithm/interpret_from_json.py
  src/hla_algorithm/interpret_from_json_lib.py
Due: Code-Check

Converted more stuff to use pathlib, and cleaned up HLAInput.
  src/hla_algorithm/hla_algorithm.py
  src/hla_algorithm/interpret_from_json_lib.py
  src/hla_algorithm/reformat_old_alleles.py
  src/hla_algorithm/update_alleles.py
  src/scripts/measure_resources.py
Due: Code-Check

Added some Ruby handling for cases when no matching standards are found for a sequence.
  ruby/lib/hla_algorithm.rb
  src/hla_algorithm/interpret_from_json.py
Due: Code-Check

Fixed the "exception" output of interpret_from_json.
  src/hla_algorithm/interpret_from_json.py
Due: Code-Check

Changed the syntax used to raise a NoMatchingStandards exception.
  ruby/lib/hla_algorithm.rb
Due: none

Fixed a typo ("7501" should have been "5701").
  src/hla_algorithm/interpret_from_json_lib.py
  src/hla_algorithm/models.py
  tests/models_test.py
Due: Code-Check

Fixed a typo ("7501" rather than "5701"), and forced the return type of `count_forgiving_mismatches` to be a Python integer.
  src/hla_algorithm/interpret_from_json_lib.py
  src/hla_algorithm/models.py
  src/hla_algorithm/utils.py
  tests/models_test.py
Due: Code-Check

Fixed a linting error (un-updated type hint).
  src/hla_algorithm/reformat_old_alleles.py
Due: Code-Check

Update the HLA alleles to v3.64.0.
  src/hla_algorithm/default_data/hla_nuc_v3.62.0-alpha.fasta.checksum.txt
  src/hla_algorithm/default_data/hla_nuc_v3.64.0-alpha.fasta.checksum.txt
  src/hla_algorithm/default_data/hla_standards.yaml
Due: none
