Repository cfe-lab/hla_algorithm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-yaml, Check-For-Black, Check-HLA-Modified-Dates

.gitlab-ci.yml:

---
variables:
  PYTHON_VERSION:
    value: "3.8"
    options:
      - "3.8"
      - "3.9"
      - "3.10"
      - "3.11"
    description: Python version to use

stages:
  - validate
  - test
  - build

validate-yaml:
  stage: validate
  image: alpine
  script:
    - apk add yamllint
    - cd $CI_PROJECT_DIR
    - yamllint .
  rules:
    - changes:
        - "*.yml"
        - "*.yaml"

Check-For-Black:
  stage: validate
  image: black
  script:
    - cd $CI_PROJECT_DIR
    - black --check src/
  allow_failure: false
  rules:
    - if: $CI_JOB_MANUAL
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - src/**/*.py
        - tools/*.py

Check-HLA-Modified-Dates:
  stage: validate
  image: python:${PYTHON_VERSION}-slim
  before_script:
    - apt update
    - apt install git-restore-mtime -y --no-install-recommends
    - pip install typer
  script:
    - cd $CI_PROJECT_DIR
    - python tools/check_date_modified.py check-dates
  allow_failure: false
  rules:
    - if: $CI_JOB_MANUAL
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - src/**/*.csv
        - src/**/*.mtime

Unit-Tests:
  image: python:${PYTHON_VERSION}-slim
  before_script:
    - pip install hatch
  script:
    - hatch env run --env test ci-report
  parallel:
    matrix:
      - PYTHON_VERSION:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
  coverage: '/^TOTAL.+?(\d+\%)$/'
  interruptible: true
  artifacts:
    reports:
      junit: unit_test.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

add ruff as part of pre-commit config, apply/resolve lint errors `ruff check . --fix` produced
  .pre-commit-config.yaml
  pyproject.toml
  src/easyhla/__init__.py
  src/easyhla/easyhla.py
  src/easyhla/entrypoint.py
  src/easyhla/models.py
  tests/easyhla_test.py
  tests/models_test.py
  tools/check_date_modified.py
  tools/data_parse.py
  tools/manual_comparison.py
  uv.lock
Due: validate-yaml, Check-For-Black

WIP: adding some comments for myself for future reference.
  src/easyhla/easyhla.py
  tests/easyhla_test.py
Due: Check-For-Black

did not spell the original author's name correctly!
  pyproject.toml
Due: none

resolve mypy issues, update gitlab ci
  .github/workflows/python.yml
  .gitlab-ci.yml
  mypy.ini
  pyproject.toml
  src/easyhla/easyhla.py
  src/easyhla/entrypoint.py
  tests/conftest.py
  tests/easyhla_test.py
  tools/check_date_modified.py
  tools/data_parse.py
  tools/manual_comparison.py
  uv.lock
Due: validate-yaml, Check-For-Black

add yamllint config
  .pre-commit-config.yaml
  .yamllint.yml
Due: validate-yaml

update github actions
  .github/workflows/python.yml
Due: none

update a test, update github workflow
  .github/workflows/python.yml
  tests/easyhla_test.py
Due: none

update github workflow
  .github/workflows/python.yml
Due: none

update ci
  .github/workflows/python.yml
Due: none

tbh I don't know github actions as well as I do gitlab ci
  .github/workflows/python.yml
Due: none

A few changes, and just starting to add some test cases.
  src/easyhla/__init__.py
  src/easyhla/easyhla.py
  src/easyhla/entrypoint.py
  tests/easyhla_test.py
Due: Check-For-Black

WIP: some more tweaks/visual fixes.
  src/easyhla/easyhla.py
  tests/easyhla_test.py
Due: Check-For-Black

WIP: more (slow) minor changes sifting through the code.
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/models_test.py
Due: Check-For-Black

WIP: continuing to refactor code. THIS IS NOT FUNCTIONAL CODE
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/easyhla_test.py
Due: Check-For-Black

WIP: more restructuring and reworking.
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/easyhla_test.py
  tests/models_test.py
Due: Check-For-Black

WIP: more restructuring/refactoring.
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/easyhla_test.py
  tests/models_test.py
Due: Check-For-Black

More progress on refactor/rewriting.
  src/easyhla/easyhla.py
  src/easyhla/entrypoint.py
  src/easyhla/models.py
Due: Check-For-Black

Some more refactoring.
  src/easyhla/easyhla.py
Due: Check-For-Black

All tests are currently passing.
  pyproject.toml
  src/easyhla/__init__.py
  src/easyhla/default_data/hla_a_seq.csv
  src/easyhla/default_data/hla_a_std.csv
  src/easyhla/default_data/hla_a_std_reduced.csv
  src/easyhla/default_data/hla_b_seq.csv
  src/easyhla/default_data/hla_b_std.csv
  src/easyhla/default_data/hla_b_std_reduced.csv
  src/easyhla/default_data/hla_c_seq.csv
  src/easyhla/default_data/hla_c_std.csv
  src/easyhla/default_data/hla_c_std_reduced.csv
  src/easyhla/default_data/hla_frequencies.csv
  src/easyhla/default_data/hla_nuc.fasta.mtime
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/easyhla_test.py
  tests/models_test.py
Due: Check-For-Black, Check-HLA-Modified-Dates

Remove deprecated stuff from the typing module.
  src/easyhla/easyhla.py
  tests/easyhla_test.py
Due: Check-For-Black

WIP: saving some progress before switching branches to see how much I've slowed down the tests.
  tests/easyhla_test.py
  tests/models_test.py
Due: none

WIP: some progress in refactoring; added back some optimizations to combine_stds.
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/easyhla_test.py
Due: Check-For-Black

WIP: some more restructuring/refactoring.
  src/easyhla/easyhla.py
  src/easyhla/models.py
Due: Check-For-Black

WIP: some more refactoring of code, specifically the main "run" method.
  src/easyhla/easyhla.py
  src/easyhla/models.py
Due: Check-For-Black

Refactored some code into a "presentation layer".
  src/easyhla/easyhla.py
  src/easyhla/entrypoint.py
  src/easyhla/formatting.py
  src/easyhla/models.py
  tests/easyhla_test.py
Due: Check-For-Black

Fixing/updating tests; made some methods static where possible.
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/easyhla_test.py
  tests/models_test.py
Due: Check-For-Black

Changed the way protein pairs are represented internally; updated tests to suit.
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/easyhla_test.py
  tests/models_test.py
Due: Check-For-Black

Minor refactoring continues.
  tests/models_test.py
Due: none

Completed testing for models.py (for now).
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/models_test.py
Due: Check-For-Black

Some refactoring of tests. Stuck on reworking the tests for pad_short.
  src/easyhla/easyhla.py
  tests/easyhla_test.py
Due: Check-For-Black

Reworked the testing of pad_short (and calc_padding); fixed an error in the ambiguous nucleotide mappings.
  src/easyhla/easyhla.py
  tests/easyhla_test.py
Due: Check-For-Black

WIP: minor change here, refactoring some tests.
  src/easyhla/easyhla.py
  tests/easyhla_test.py
Due: Check-For-Black

Slugged through tests for pair_exons_helper.
  src/easyhla/easyhla.py
  tests/easyhla_test.py
Due: Check-For-Black

WIP: breaking ground on pair_exons tests.
  tests/easyhla_test.py
Due: none

Finished testing pair_exons; some more small refactoring.
  src/easyhla/easyhla.py
  src/easyhla/formatting.py
  src/easyhla/models.py
  src/easyhla/utils.py
  tests/easyhla_test.py
  tests/utils_test.py
Due: Check-For-Black

Reworked get_mismatches and added testing for it.
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/easyhla_test.py
  tests/models_test.py
Due: Check-For-Black

Some more refactoring, some more testing.
  src/easyhla/easyhla.py
  src/easyhla/entrypoint.py
  src/easyhla/models.py
  src/easyhla/utils.py
  tests/easyhla_test.py
  tests/models_test.py
  tests/utils_test.py
Due: Check-For-Black

Added some more test coverage to reach some very hard-to-reach areas.
  src/easyhla/easyhla.py
  src/easyhla/models.py
  tests/easyhla_test.py
Due: Check-For-Black

Finished the "load HLA standards" tests.
  tests/easyhla_test.py
Due: none

WIP: started adding tests for read_hla_frequencies.
  tests/easyhla_test.py
Due: none
